*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    
}

div{
    width: 250px;
    min-height: 270px;
    max-height: 300px;
    background-color: rgb(180, 252, 180);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

img{
    max-width: 170px;
}